useDynLib(riskRegression)
export("ARR",
       "LRR",
       "FGR",
       "cumincCox",
       "riskRegression")

S3method(print,cumincCox)
S3method(print,FGR)
S3method(print,riskRegression)

S3method(predict,riskRegression)
S3method(predict,FGR)

S3method(summary,riskRegression)
