S3method(coef,riskRegression)
S3method(plot,CauseSpecificCox)
S3method(plot,predictedRisk)
S3method(predict,FGR)
S3method(predict,riskRegression)
S3method(print,CauseSpecificCox)
S3method(print,FGR)
S3method(print,modelMatrix)
S3method(print,riskRegression)
S3method(print,subjectWeights)
S3method(print,timevarCoefList)
S3method(subjectWeights,cox)
S3method(subjectWeights,marginal)
S3method(subjectWeights,none)
S3method(subjectWeights,nonpar)
S3method(subjectWeights,rfsrc)
S3method(summary,FGR)
S3method(summary,riskRegression)
export(ARR)
export(CSC)
export(FGR)
export(LRR)
export(cluster)
export(const)
export(cov1)
export(cov2)
export(parseSpecialArguments)
export(plotEffects)
export(riskRegression)
export(strata)
export(subjectWeights)
export(timevar)
importFrom(prodlim,Hist)
importFrom(survival,Surv)
importFrom(survival,coxph)
useDynLib(riskRegression)
